html,
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo {
    text-align: center;
    margin-bottom: 2em;
}

.headline {
    text-align: center;
    color: #004d4d;
    border-top: #ffd977;
    background-color: #fefbf1;
    border-top-style: outset;
    padding: 1.5em;
}

.h1 {
    text-align: center;
}

.img {
    text-align: center;
}